body {
	background-color : lightgray;
}

h1{
	font-size : 60px;
	font-family : impact;
	text-align : center;
	background-color : cadetblue;
	border : 40px solid cadetblue;
	margin : 0;
}

p{
	margin : 15px 30px;
}

#a01:link, #a01:visited {
  margin : 15px 30px;
  background-color: aquamarine;
  color: blueviolet;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

#a01:hover, #a01:active {
  background-color: aqua;
  color: blueviolet;
}

img.imgGH{
	float : right;
	width : 130px;
	height : 130px;
	border : 0;
	overflow: invisible;
	margin : 0px;
	position : absolute;
	top : 5px;
	right : 5px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}



 
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: darkslategrey;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

li a:hover {
  background-color: cadetblue;
  color: black;
}